<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
</head>
<body onload="renderTable()">
    <header><h1>VEHICLE test CRUD</h1></header>
    <ul id="navBar">
        <li><a href="">new</a></li>
        <li><a href="">update</a></li>
        <li><a href="">delete</a></li>
    </ul>
    <button onclick="create()">New User</button>
    <div id="userTable"></div>
    <dialog id="dialogCreateUser">
        <h3>Create new user</h3>
        <form action="/db/users" method="post" id="createUser">
            <label for="user">username:</label><br>
            <input type="text" id="user" name="user" value=""><br>
            <label for="isAdmin">admin status:</label><br>
            <select name="isAdmin" id="isAdminCreate"></select>
                <option value=true>Admin</option>
                <option value=false>Customer</option>
            <button type="submit">Kirim</button> 
        </form>    
    </dialog>

    <dialog id="dialogEditUser">
        <button id="exitEdit">exit</button>
        <h3>Create new user</h3>
        <form action="/db/users" method="post" id="EditUser">
            <label for="user">username:</label><br>
            <input type="text" id="userEdit" name="user" value=""><br>
            <label for="isAdmin">admin status:</label><br>
            <select name="isAdmin" id="isAdminEdit">
                <option value=true>Admin</option>
                <option value=false>Customer</option>
            </select>
            <button type="submit">Kirim</button> 
        </form>    
    </dialog>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="/javascripts/indexFunc.js"></script>
</body>
</html>