<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>
<body>
    <form action="" method="post">
        <label for="user">Username: </label><br>
        <input type="text" id="user" name="user" value=""><br>
        <label for="passLogin">Password: </label><br>
        <input type="password" name="passLogin" id="passLogin"><br>
        <button type="submit">Kirim</button> 
    </form>
    <script src="/javascripts/loginFunc.js"></script>
</body>
</html>